<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signUp</title>
    <!--<link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css" type="text/css">-->
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css" th:href="@{/bootstrap/css/bootstrap.min.css}" type="text/css">
    <link rel="stylesheet" href="../static/fonts/ionicons.min.css" th:href="@{/fonts/ionicons.min.css}" type="text/css">
    <link rel="stylesheet" href="../static/css/Footer-Clean.css" th:href="@{/css/Footer-Clean.css}" type="text/css">
    <link rel="stylesheet" href="../static/css/Navigation-with-Button.css" th:href="@{/css/Navigation-with-Button.css}" type="text/css">
    <link rel="stylesheet" href="../static/css/Registration-Form-with-Photo.css" th:href="@{/css/Registration-Form-with-Photo.css}" type="text/css">
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}" type="text/css">
</head>

<body>
    <div>
        <nav class="navbar navbar-dark navbar-expand-md bg-success navigation-clean-button" style="background-color:#66d7d7;">
            <div class="container"><a class="navbar-brand" href="#">Company Name</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse"
                    id="navcol-1">
                    <ul class="nav navbar-nav mr-auto"></ul><span class="navbar-text actions"> <a href="#" class="login">Log In</a><a class="btn btn-light action-button" role="button" href="#">Sign Up</a></span></div>
            </div>
        </nav>
    </div>
    <div class="register-photo">
        <div class="form-container" style="width:500px;">
            <form method="post" action="/auth/SignUp" modelattribute="SignUpViewModel">
                <h2 class="text-center"><strong>Create</strong> an account.</h2>
                <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Email"></div>
                <div class="form-group"><input type="text" name="username" placeholder="Username" class="form-control" /></div>
                <div class="form-group"><input class="form-control" type="password" name="password" id="password1" placeholder="Password"  onkeyup = "executeQuery();" }})></div>
                <div class="form-group"><input type="password" name="password-repeat" placeholder="Confirm Password" id="password2" class="form-control"  onkeyup = "executeQuery();" }})/></div>
                <div id="passwordMeggase"></div>
                <div align="center">
                  <input type="radio" name="userType" value="1" id="work"> Work
                  <input type="radio" name="userType" value="2" id="hire"> Hire<br>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block" id="regBtn" type="submit" style="background-color:#66d7d7;">Sign Up</button>
                </div>
                <a href="#" class="already">You already have an account? Login here.</a></form>
        </div>
    </div>
    <div class="footer-clean" style="color:#fff;background-color:#28a745;">
        <footer>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-sm-4 col-md-3 item">
                        <h3>Services</h3>
                        <ul>
                            <li><a href="#">Web design</a></li>
                            <li><a href="#">Development</a></li>
                            <li><a href="#">Hosting</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-3 item">
                        <h3>About</h3>
                        <ul>
                            <li><a href="#">Company</a></li>
                            <li><a href="#">Team</a></li>
                            <li><a href="#">Legacy</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-3 item">
                        <h3>Careers</h3>
                        <ul>
                            <li><a href="#">Job openings</a></li>
                            <li><a href="#">Employee success</a></li>
                            <li><a href="#">Benefits</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a>
                        <p class="copyright">Company Name © 2017</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <script src="../static/js/jquery.min.js" th:href="@{/js/jquery.min.css}" type="text/css"></script>
    <script src="../static/bootstrap/js/bootstrap.min.js" th:href="@{/js/bootstrap.min.css}" type="text/css"></script>

        <script src="../static/js/jquery-3.3.1.js" th:href="@{/js/jquery-3.3.1.js}" type="text/javascript">
        $(function () {
            var pass1 = $("#password1").val();
            var pass2 = $("#password2").val();
            if(pass1 == pass2){
                $('#regBtn').prop("disabled", false);
                $('#passwordMeggase').text("Passwords match");
            } else if (pass1 != pass2) {
                $('#regBtn').prop("disabled", true);
                $('#passwordMeggase').text("Passwords do not match");
            }
        })

    </script>
</body>

</html>